extends layout

block content
  h1= title
  p Welcome to #{title}
  //subscribing form
  form(action="/", method="POST")
    input(name="subscribe_email", type="email", placeholder="Enter email address")
    button(type="Submit") Submit